<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <section class="neuro-hero-image component-hero-section">
    <h1>Brain Surgery</h1>
    <p>BrainSurgery is a surgery to remove and replace the whole damaged knee joint with an artificial joint.</p>
    <a href="#faq">Enquire Now</a>
  </section>
  <nav class="component-navigation">
    <a href="#overview">Overview</a>
    <a href="#eligibility">Eligibility</a>
    <a href="#post-treatment">Post Treatment Care</a>
    <a href="#recovery">Recovery Tips</a>
    <a href="#faq">FAQs</a>
  </nav>

  <main>
    <section class="content-overview content" id="overview">
      <div class="content-div">
        <h1>Treatment Overview</h1>
        <p>Knee replacement surgery is a surgical procedure used to resurface an arthritic or damaged knee. People with
          severe arthritis or knee injuries are typically considered for this surgery, in which metal and plastic parts
          are used to cap the ends of the knee bones and the kneecap. Surgery to replace a knee joint is also called
          knee arthroplasty or total knee replacement.</p>
      </div><img src="../images/hero/hero-neuro.png" alt="">
    </section>
    <hr>
    <section class="content content-overview" id="eligibility">
      <img src="../images/hero/hero-neuro.png" alt="">
      <div>
        <h1>Eligibility For Treatment..</h1>
        <p>Any individual who has tried diet and exercise but failed to lose weight is considered as a good candidate f
          gastric bypass. Although gastric bypass aids in weight loss, it is not an appropriate option for everyone.

          Based on the overall health and certain medical guidelines, the doctor will decide whether vou are eligible
          for gastric bypass or not.

          In general, gastric bypass could be a good option if
        <ul>
          <li>The BMI (body mass index) is 40 or more</li>
          <li>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and high
            blood pressure</li>
          <li>You are willing to make permanent changes in the lifestyle</li>
        </ul>
        </p>
      </div>
    </section>
    <hr>

    <section class="content" id="post-treatment">
      <h1>Post Treatment Care</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque ut dicta quaerat blanditiis quis suscipit. Quo
        et saepe dolores rerum iusto aliquam sint odit eos distinctio mollitia ipsam, repellat aspernatur.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit est officia? Iure alias quos
        officia fugiat dolorum eos, praesentium quasi fuga distinctio. Provident, sit reprehenderit consequuntur ad
        sapiente totam.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum temporibus porro laudantium ex rem
        expedita vel totam repellat, nobis sint impedit sapiente ut quos possimus id! Quibusdam, doloremque excepturi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni natus quidem voluptas voluptatem laudantium
        atque, quo esse maiores perferendis voluptatibus nulla, fugiat nesciunt, illum dicta ullam eum itaque eius
        deserunt.</p>
    </section>
    <hr>
    <section class="content" id="recovery">
      <h1>Recovery Tips</h1>
      <p>Recovery is an essential component of orthopedic care. Whether the approach is surgical or non-surgical,
        rehabilitation programs aim to rebuild strength, enhance flexibility, and improve overall endurance. Physical
        therapy, occupational therapy, and lifestyle modifications play a key role in achieving long-term success.
      </p>
      <ul>
        <li>Rehabilitation Plans: Tailored programs that progressively restore function.</li>
        <li>Management: Medication, exercises, and supportive devices aid in managing discomfort during recovery.</li>
        <li>Long-Term Care: Education on activity modification and preventive strategies helps avoid re-injury.</li>
      </ul>
    </section>
    <hr>

    <section class="faqs" id="faq">
      <div>
        <h1>FAQs</h1>
        <h2>Frequently Asked Questions</h2>

        <details>
          <summary>What is TKR surgery</summary>
          <p>Total knee replacemnt is a surgery to remove and replace the whole damaged knee joint with an artificial
            joint.</p>
        </details>

        <details>
          <summary>What injuries require orthopaedic surgery?</summary>
          <p>Common Orthopaedic injuries that require surgery</p>
          <ul>
            <li>Dislocations</li>
            <li>Fractures</li>
            <li>ligament injury </li>
            <li>Impingement</li>
            <li>Overuse Injuries</li>
            <li>Sprains</li>
          </ul>
        </details>

        <details>
          <summary>How long does it take to recover from orthopaedic surgery?</summary>
          <p>Some patients require several weeks to recover. Others may have to wait several months. A lot depends upon
            the procedure done for the patient and the overall condition of the patient . Depending on your overall
            health, the condition for which you were treated, and the type of surgery performed, you may be able to go
            home the same day or the day after surgery.</p>
        </details>
      </div>
      <form class="enquiry-form" id="enquiryx">

        <h1>Need Any <i>Help</i> ?</h1>
        <p>We are here to assist you....</p>
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email">
        <input type="number" placeholder="Mobile">
        <input type="text" placeholder="Your Query">
        <a onclick="handleClick()">Submit</a>
      </form>
    </section>
  </main>
  <!-- alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script src="../app.js"></script>
</body>

</html>